<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserList</key>
	<array>
		<dict>
			<key>email</key>
			<string>narangkishore98@gmail.com</string>
			<key>password</key>
			<string>kishore</string>
		</dict>
		<dict>
			<key>password</key>
			<string>tarlochan</string>
			<key>email</key>
			<string>tarlochan5268@gmail.com</string>
		</dict>
		<dict>
			<key>email</key>
			<string>nikhilnikhil@gmail.com</string>
			<key>password</key>
			<string>nikhil</string>
		</dict>
		<dict>
			<key>email</key>
			<string>akhil@gmail.com</string>
			<key>password</key>
			<string>akhil</string>
		</dict>
		<dict>
			<key>email</key>
			<string>ankita@gmail.com</string>
			<key>password</key>
			<string>ankita</string>
		</dict>
	</array>
</dict>
</plist>
